/* .table1 {
    background-color: rgb(134, 223, 193);
    border-collapse: separate;
    margin: 20px auto;
    border-radius: 10px;
}
.table1 td{
    width: 300px;
    border-collapse: separate;
    margin: 20px auto;
    border-radius: 10px;
}

.table2 td{
    border-color: rgb(143, 195, 92);
    border-width: 2px;
    width: 20px;
}

.r3c3{
    border-top-left-radius: 3px;
    border-top-right-radius:15px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:20px;
} */
